div(class="medium-8 columns")
	h2(class="text-center") Green Space
	h3(class="text-center") Just come and get all things done
	div(class="row column")
		div(class="button-group expanded")
			a(class="button") Google +
			a(class="button") Facebook
	hr

	div(class="row")
		form(ng-submit="vm.submitRegister()")
			div(class="column small-12")
				label Email
					input(type="text", ng-model="vm.credentials.email" required)
			div(class="column small-12")
				label First Name
					input(type="text", ng-model="vm.credentials.firstname" required)
			div(class="column small-12")
				label Middle Name
					input(type="text", ng-model="vm.credentials.midname")
			div(class="column small-12")
				label Last Name
					input(type="text", ng-model="vm.credentials.lastname" required)
			div(class="column small-12")
				label Birthday
					input(type="text", ng-model="vm.credentials.birthday" required)
			div(class="column small-12")
				label Gender
					input(type="text", ng-model="vm.credentials.gender" required)
			div(class="column small-12")
				label Phone
					input(type="text", ng-model="vm.credentials.phone" required)
			div(class="column small-12")
				label Password
					input(type="password", ng-model="vm.credentials.password" required)
			div(class="column small-12 small-offset-3 text-center")
				input(class="button" type="submit" value="Sign up")
		div(class="column small-12 text-center")
			<span>Already a member? Please <a href="#!/login">Login</a></span>